[submodule "components/esp32_hap_wolfssl"]
	path = components/esp32_hap_wolfssl
	url = https://github.com/slompf18/esp32_hap_wolfssl.git
[submodule "components/esp32-homekit"]
	path = components/esp32-homekit
	url = https://github.com/slompf18/esp32-homekit.git
